.header {
    height: 137px;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1vw 0px 1vw;
    @media (max-width: 390px) {
        flex-direction: column;
    }
}

.header__logo__div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    @media (max-width: 390px) {
        width: 100%;
        height: 50%;
    }
}

.header__logo__img{
    @media (max-width: 390px) {
        height: 40px;
        width: 40px;
    }
}
.header__logo__title{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}
.header__list__ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    @media (max-width: 390px) {
        width: 100%;
    }
}
.header__list__link{
    text-decoration: none;
}
.header__list__li{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.header__input{
    width: 301.74px;
    height: 51.5px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    padding-left: 1vw;
    color: #FFFFFF;
    background: url("../../assets/header/search.svg") no-repeat;
    background-position: 95%;
    background-size: 1.3em;
    @media (max-width: 390px) {
        display: none;
    }
}

.header__input::-webkit-input-placeholder {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}