.donatedBooks{
    min-height: 800px;
    padding-top: 5vh;
    padding-left: 5vw;
}

.donatedBooks__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}